#rectitle {
        display: inline-block;
    }

#start,
#add-receipt {
    margin-top: 3px;
    display: inline-block;
}

#start{
    margin-right: 5px;
}

#appheader {
    display: inline;
}

#formbuttons {
    float: right;
}

.tag .add-tag {
    margin: 0px;
    display: inline-block;
}

.tags {
    max-width: 50%
}
video {
    margin: auto;
    height: 30vh;
    border: 0px;
}

#vidwrap {
    margin: 5px 0;
}

#snapshot{
    display: block;
}
