#rectitle{
    display: inline-block;
}
#add-receipt{
    margin-top: 3px;
    display: inline-block;
}
#appheader{
    display: inline;
}
#formbuttons{
    float: right;
}
.tag .add-tag{
    margin: 0px;
    display: inline-block;
}
.tags{
    max-width: 50%
}
